// Цвета
$primary-color: #00ffea;
$secondary-color: #838383;
$danger-color: #ff008c;
$success-color: #7bff00;

$text-color: #333;
$bg-color: #fff;

// Отступы 
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;

$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;

// Размеры
$border-radius: 8px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;

$layout-size: 90%;

