@use "../../styles/abstracts/variables" as *;

.page {
  h1 {
    margin-bottom: $space-xs;
    display: flex;
    align-items: center;
    gap: $space-sm;
  }
}

.count {
  background-color: $color-yellow-2;
  color: $text-color-inverse;
  font-size: $font-size-xl;
  font-weight: 600;
  padding: 2px $space-sm;
  border-radius: $radius-lg;
  box-shadow: $shadow-sm;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  text-align: center;
}

.error {
  color: $danger-color;
}