@use "../../../styles/abstracts/variables" as *;

.filterWrapper {
  display: flex;
  align-items: center;
  gap: $space-md;
  margin-bottom: $space-lg;
  padding: $space-md;

  background-color: $bg-color;
  border: 1px solid $border-color;
  border-radius: $radius-md;

  .inputDate {
    width: 200px;
  }

  .grid {
    display: contents;
  }

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    .grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-md;

      .inputDate,
      .statusSelect,
      .authorSelect,
      .sortSelect {
        width: auto;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}