@use "../../../styles/abstracts/variables" as *;

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $space-sm;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
  }
}

.empty {
  color: $text-color-light;
  font-size: $font-size-md;
  padding: $space-md;
  text-align: center;
  background: $color-grey-1;
  border-radius: $radius-md;
}