@use '../../styles/abstracts/variables' as *;

body {
    font-family: 'Inter', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.card {
    background-color: $bg-color;
    padding: $space-lg;
    border-radius: $radius-lg;
    border: 1px solid $primary-color;
    width: 100%;
    max-width: 48rem;
    
}


.heading {
    font-size: 1.875rem;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 1.5rem;
    text-align: center;
}

.subheading {
    text-align: center;
    color: $text-color-light;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
    color: $text-color;
}


.textarea {
    resize: none;
}

.buttonContainer {
    padding-top: 0.5rem;
    gap: $space-xs;
    display: flex;
    justify-content: center;
}
