@use '../styles/abstracts/variables' as *;

.header {
    width: 100%;
    border-bottom: 3px solid $primary-color;
    height: 75px;
    background-color: $bg-color;
    &__content {
        width: $layout-size;
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $second-bg-color;
  color: $text-color;
}

.content {
  flex: 1;
  width: $layout-size;
  margin: $margin-md auto;
}

.footer {
  width: 100%;
  border-top: 3px solid $primary-color;
  height: 200px;
  background-color: $bg-color;
  &__content {
    width: $layout-size;
    margin: 0 auto;
  }
}